<figure class="beer-detail">
	<div class="beer-image">
		<img src="{{beer.image_url}}" alt="">
	</div>
	<figcaption class="figcaption">
		<h3 class="beer-name">{{beer.name}}</h3>
		<h6 class="beer-tagline">{{beer.tagline}}</h6>
		<p class="beer-description">{{beer.description}}</p>
		
		<ul class="beer-pairing">
			{{#each beer.food_pairing}}
				<li>{{this}}</li>
			{{/each}}
		</ul>
		<p><strong></strong>{{beer.brewers_tips}}</p>
	</figcaption>
</figure>
